<!DOCTYPE html>
<html>
  <head>
    <title>Ohm</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <nav>
      <%= render 'nav/nav' %>
    </nav>
    <main>
      <aside>
        ASIDE
        <%= yield :aside %>
      </aside>
      <section>
        <%= yield :main %>
      </section>
    </main>
    <footer>
      FOOTER CONTENT
    </footer>
  </body>
</html>
