<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:fb="http://ogp.me/ns/fb#">
  <head>
    <title>These Walls</title>
    <%= csrf_meta_tags %>
    <link href="https://fonts.googleapis.com/css?family=Droid+Sans" rel="stylesheet">
    <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css" rel="stylesheet">

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
    <%= render 'meta/social_media' %>
    <meta name="viewport" content="width=device-width, initial-scale=1">
  </head>

  <body>
    <nav>
      <%= render 'nav/destination' %>
    </nav>
    <main>
      <aside>
        <div id='aside'></div>
      </aside>
      <section>
        <%= yield :main %>
      </section>
    </main>
    <footer>
      <%= render 'footer/default' %>
    </footer>
  </body>
</html>
