<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:fb="http://ogp.me/ns/fb#">
  <head>
    <title>Ohm</title>
    <%= csrf_meta_tags %>
    <link href="https://fonts.googleapis.com/css?family=Droid+Sans" rel="stylesheet">
    <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css" rel="stylesheet">

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
    <meta property="og:image" content=<%= image_url 'tint.gif'%> />
    <meta property="og:url" content=<%= root_url %> />
    <meta property="og:title" content="These Walls" />
    <meta property="og:description" content="Ollie Haydon-Mulligan, Bristol-based drummer and songwriter" />
  </head>

  <body>
    <nav>
      <%= render 'nav/home' %>
    </nav>
    <main>
      <aside>
        <div id='aside'></div>
      </aside>
      <section>
        <%= yield :main %>
      </section>
    </main>
    <footer>
      <%= render 'footer/default' %>
    </footer>
  </body>
</html>
